.App {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.item {
  background-color: green;
  border: 1px solid #212121;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.active {
  background-color: red;
}
